[submodule "libusb"]
	path = libusb
	url = https://github.com/albrematt/libusb.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/albrematt/zlib.git
[submodule "bzip2"]
	path = bzip2
	url = https://github.com/albrematt/bzip2.git
